@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@import "./topNavbar.scss";
@import "./sideNavbar.scss";
@import "./pages/dashboard.scss";
@import "./pages/about.scss";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
