@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@import "./mixins.scss";
@import "./topNavbar.scss";
@import "./sideNavbar.scss";
@import "./pages/login.scss";
@import "./pages/dashboard.scss";
@import "./pages/swapi.scss";
@import "./pages/weatherApi.scss";
@import "./pages/fizzBuzz.scss";
@import "./pages/magic8Ball.scss";
@import "./pages/calculator.scss";
@import "./pages/funWithState.scss";
@import "./pages/about.scss";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Lobster", cursive;
}

button {
  width: 100px;
  height: 50px;
  background-color: rgb(53, 182, 224);
  color: white;
  border-radius: 20px;
  margin: 0 2em;
}
