@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.side-navbar-container {
  font-family: "Lobster", cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(53, 182, 224);
  color: white;
  height: 100vh;

  .user-wrapper {
    text-align: center;
    margin-top: 2em;
    i {
      font-size: 2em;
    }

    button {
      background-color: white;
      color: black;
    }
  }

  .app-title-wrapper {
    font-size: 1.5em;
    margin: 1em 0em 1em;
    color: white;
    text-decoration: none;
    color: white;
  }

  .side-navbar-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    letter-spacing: 0.1em;

    a {
      color: white;
      font-weight: bold;
      font-size: 1.5em;

      &:hover {
        color: black;
      }
    }

    .active {
      text-decoration: underline;
    }
  }
}
